@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

.home {
  background-image: url('../src/assets/cactus-8436514.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 120px 0 0 60px; 
}

.home .head {
  color: white;
  font-size: 32px;
  opacity: 0.7  ;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px; 
}

.home .con {
  color: white;
  opacity: 0.6;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
    .home {
      padding: 100px 20px 0 20px; 
      align-items: flex-start;
    }
  
    .home .head {
      font-size: 24px;
      text-align: left;
    }
  
    .home .con {
      font-size: 16px;
      line-height: 1.6;
      text-align: left;
    }
  }
  
  @media (max-width: 480px) {
    .home {
      padding: 80px 15px 0 15px;
    }
  
    .home .head {
      font-size: 20px;
    }
  
    .home .con {
      font-size: 14px;
    }
  }
  